<div class="wrapper">
    <div class="logo">
        <img src="../assets/casplock.svg" alt="Background" class="logo-image">
        <div class="text">
            <span>Caps</span>
            <span class="less-margin">Lock</span>
        </div>
        
    </div>
    <p class="footer">We're gearing up to go live soon, offering a full spectrum of services—from creative work to technical development—for your business. Let us handle the behind-the-scenes details, so you can focus on growing your business to its fullest potential.</p>
</div>